@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    font-family: 'Fira Code', monospace;
    color: #00ff00;
}

#overlay {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    background: rgba(0,0,0,0.95);
    z-index: 999;
    transition: opacity 0.5s;
}

#overlay.hidden { opacity: 0; pointer-events: none; }

h1 {
    font-size: 3rem; color: #fff; margin-bottom: 5px;
    text-shadow: 0 0 10px #00ff00;
    text-align: center;
}

.btn {
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-family: inherit;
    color: #000;
    background: #00ff00;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 20px #00ff00;
    font-weight: bold;
    transition: transform 0.2s;
}
.btn:hover { transform: scale(1.1); color: #fff; }

input[type="file"] { display: none; }

#hud {
    position: absolute; top: 20px; left: 20px;
    pointer-events: none;
    font-size: 12px; color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
    background: rgba(0, 20, 0, 0.5);
    padding: 10px;
    border: 1px solid #00ff00;
}

#heat-bar-container {
    margin-top: 5px;
    width: 100%; height: 5px; background: #333;
}
#heat-bar {
    width: 0%; height: 100%; background: #ff0000; transition: width 0.1s;
}


.btn-corner {
    position: absolute;
    top: 20px; 
    right: 20px;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    background: #00ff00; /* Vert Terminal */
    border: 2px solid #00ff00;
    cursor: pointer;
    box-shadow: 0 0 15px #00ff00;
    z-index: 1000; /* Au-dessus de tout */
    text-transform: uppercase;
    transition: all 0.2s;
}

.btn-corner:hover {
    background: #000;
    color: #00ff00;
    box-shadow: 0 0 25px #00ff00;
    transform: scale(1.05);
}