/* --- GLOBAL --- */
body {
    margin: 0; padding: 0;
    background-color: #008080;
    font-family: 'Tahoma', sans-serif;
    overflow: hidden;
    cursor: crosshair;
    user-select: none;
}

#game-ui {
    position: fixed; top: 10px; left: 10px;
    color: white; font-family: 'Courier New', monospace;
    font-size: 24px; font-weight: bold; z-index: 50;
    text-shadow: 2px 2px 0 #000; pointer-events: none;
}

/* --- STYLE WINDOWS --- */
.win-style {
    background-color: #c0c0c0;
    border-top: 2px solid #fff; border-left: 2px solid #fff;
    border-right: 2px solid #404040; border-bottom: 2px solid #404040;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    color: black;
}
.win-btn {
    display: inline-block; padding: 4px 15px; margin: 5px;
    background: #c0c0c0; font-weight: bold; text-align: center; cursor: pointer;
}
.win-btn:active {
    border-top: 2px solid #404040; border-left: 2px solid #404040;
    border-right: 2px solid #fff; border-bottom: 2px solid #fff;
}

/* --- CLASSES DYNAMIQUES --- */
.moving-window {
    position: absolute;
    width: 380px;
    padding: 3px;
    display: flex; flex-direction: column; gap: 5px;
    z-index: 100;
}

.title-bar {
    background: linear-gradient(90deg, #000080, #1084d0);
    color: white; padding: 3px 5px; font-weight: bold;
    display: flex; justify-content: space-between;
}
.title-btn {
    background: #c0c0c0; border: 1px solid #fff;
    border-bottom: 1px solid #404040; border-right: 1px solid #404040;
    width: 16px; height: 14px; line-height: 12px; text-align: center;
    color: black; font-size: 10px;
}

/* --- STYLE LINUX --- */
.linux-style {
    background-color: #000 !important;
    color: #00ff00 !important;
    font-family: 'Courier New', Courier, monospace !important;
    border: 1px solid #00ff00 !important;
    box-shadow: 0 0 15px #00ff00 !important;
}
.linux-style * {
    background-color: transparent !important;
    color: #00ff00 !important; border-color: #00ff00 !important;
}

/* --- LASER --- */
.taskbar {
    position: fixed; bottom: 0; left: 0; width: 100%; height: 35px;
    background: #c0c0c0; border-top: 2px solid #fff; display: flex; align-items: center; z-index: 200;
}
.laser-beam {
    position: absolute; height: 5px; background: #ff0000;
    box-shadow: 0 0 10px red, 0 0 20px yellow; transform-origin: 0 50%;
    pointer-events: none; z-index: 999; border-radius: 2px;
}
.impact {
    position: absolute; width: 20px; height: 20px;
    background: radial-gradient(circle, white, red, transparent);
    transform: translate(-50%, -50%); pointer-events: none; z-index: 1000;
    animation: explode 0.2s forwards;
}
@keyframes explode {
    0% { transform: translate(-50%, -50%) scale(0.5); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(2); opacity: 0; }
}